/ESP32-BOBOARD-5V-cache.lib
/ESP32-BOBOARD-5V.sch-bak
*report*.txt
*.csv.backup_*
*.kicad_pcb.backup_*
/firmware/sidboard/6502/pbi-driver.bin
/firmware/sidboard/6502/pbi-driver.l
/firmware/sidboard/6502/pbi-driver.o
/firmware/6502_monitor/6502/pbi-driver.bin
/firmware/6502_monitor/6502/pbi-driver.l
/firmware/6502_monitor/6502/pbi-driver.o
/firmware/6502_monitor/6502/pbi-driver.h
